<!DOCTYPE html>
<html lang="en-GB">
	{% include './blocks/head.njk' %}
	<body>
		{% include './blocks/header.njk' %}
		<main class="main">
			{{ content | safe }}
			{% include './blocks/notes.njk' %}
		</main>
		{% include './blocks/footer.njk' %}
	</body>
</html>