<ul>
{%- for note in collections.notes | reverse -%}
	<li><a href="{{ note.url | url }}" title="{{ note.data.title }}">{{ note.data.title }}</a> &ndash; {{ note.data.date.toDateString('en-GB') }}</li>
{%- endfor -%}
</ul>

<small><a href="https://jamesloveridge.net/notes-feed.xml" title="Subscribe to the RSS feed if you dare to…">RSS feed</a></small>