{% for year, yearPosts in collections.postsByYearNotes %}
	<h2>{{ year }}</h2>
	<ul>
		{% for post in yearPosts | reverse %}
		<li>
			<a href="{{ post.url | url }}" title="{{ post.data.title }}">{{ post.data.title }}</a>
			&ndash; {{ post.data.date.toLocaleDateString('en-GB', { day: "numeric", month: "long" }) }}
		</li>
		{% endfor %}
	</ul>
{% endfor %}

<small><a href="https://jamesloveridge.dev/notes-feed.xml" title="Subscribe to the RSS feed if you dare to…">RSS feed</a></small>
